.project-container {
  background-color: rgba(30, 30, 30, 1);
  min-height: 100vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.project-container h1 {
  color: white;
  align-self: center;
  font-weight: 400;
}

.bibleSpeak-container {
  margin: 2.5% 0;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.project-button-container {
  display: flex;
  flex-direction: column;
}

.project-button-container button {
  min-width: fit-content;
  width: 35%;
  min-height: fit-content;
  height: 4vh;
  align-self: center;
  background-color: rgba(52, 194, 239, 1);
  border: none;
  border-radius: 5px;
  margin-top: 1vh;
}

.project-button-container button:hover {
  cursor: pointer;
  background-color: rgb(36, 136, 167);
}

.project-button-container p {
  margin: 0;
  font-size: 1rem;
  font-style: italic;
}

.bibleSpeak-project:hover {
  cursor: pointer;
}

.majorChocolate-project:hover {
  cursor: pointer;
}

.bibleSpeak-container ul {
  align-self: center;
  line-height: 60px;
  margin-left: 5%;
}

.bibleSpeak-container li {
  font-size: 1.8rem;
  font-weight: 200;
  color: white;
  font-style: italic;
}

.majorChocolate-container {
  margin: 2.5% 0;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5%;
}

.majorChocolate-container ul {
  align-self: center;
  line-height: 60px;
  margin-right: 5%;
}

.majorChocolate-container li {
  font-size: 1.8rem;
  font-weight: 200;
  color: white;
  font-style: italic;
}

@media screen and (max-width: 900px) {
  .project-container img {
    height: 500px;
  }
  .bibleSpeak-container {
    flex-direction: column;
    margin: 5% 20%;
    text-align: center;
  }

  .bibleSpeak-container ul {
    margin: 0;
  }

  .majorChocolate-container {
    flex-direction: column;
    margin: 5% 20%;
    text-align: center;
  }

  .majorChocolate-container ul {
    margin: 0;
  }
}
