.qualification-container {
  min-height: 50vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.certifcate-logos-container {
  margin-top: 5%;
}

.css-logo {
  height: 200px;
}

.css-logo:hover {
  cursor: pointer;
}
